* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

/* body {
  background: hsl(0, 0%, 52%)
} */

a {
  color: unset;
  text-decoration: none;
}
